<!DOCTYPE html>
<html lang="en" ng-app="animalShelter">
<head>
  <meta charset="UTF-8">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="controllers/AnimalsController.js"></script>
  <script src="controllers/AdoptionController.js"></script>
  <script src="services/ShelterFactory.js"></script>

  <title>Animal Shelter</title>
</head>
<body>
  <div class="jumbotron">
    <h1>Happy Animals</h1>
  </div>
  <div class="container">
    <div ng-controller="AnimalsCtrl">
      <div class="row">
        <div class="col-sm-12">
          <h2>New Animal</h2>
          <form ng-submit="addAnimal()" class="form-inline" role="form">
            <input ng-model="animalName" type="text" placeholder="Name" required>
            <select ng-model="animalType">
              <option value="bunny">Bunny</option>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="bird">Bird</option>
              <option value="snake">Snake</option>
            </select>
            <button type="submit" class="btn btn-primary btn-xs">Add</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div ng-show="bunnylist.length" class="col-sm-2">
          <h4>Bunny List</h4>
          <p>
            {{ShelterFactory.countAnimalsByType("bunny")}}
          </p>
          <ul>
            <li ng-repeat="item in bunnylist = (animals | filter:{type: 'bunny'})">
              {{item.name}}
            </li>
          </ul>
        </div>
        <div ng-show="doglist.length" class="col-sm-2">
          <h4>Dog List</h4>
          <p>
            {{ShelterFactory.countAnimalsByType("dog")}}
          </p>
          <ul>
            <li ng-repeat="item in doglist = (animals | filter:{type: 'dog'})">
              {{item.name}}
            </li>
          </ul>
        </div>
        <div ng-show="catlist.length" class="col-sm-2">
          <h4>Cat List</h4>
          <p>
            {{ShelterFactory.countAnimalsByType("cat")}}
          </p>
          <ul>
            <li ng-repeat="item in catlist = (animals | filter:{type: 'cat'})">
              {{item.name}}
            </li>
          </ul>
        </div>
        <div ng-show="snakelist.length" class="col-sm-2">
          <h4>Snake List</h4>
          <p>
            {{ShelterFactory.countAnimalsByType("snake")}}
          </p>
          <ul>
            <li ng-repeat="item in snakelist = (animals | filter:{type: 'snake'})">
              {{item.name}}
            </li>
          </ul>
        </div>
        <div class="col-sm-2" ng-show="birdlist.length">
          <h4>Bird List</h4>
          <p>
            {{ShelterFactory.countAnimalsByType("bird")}}
          </p>
          <ul>
            <li ng-repeat="item in birdlist = (animals | filter:{type: 'bird'})">
              {{item.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" ng-controller="AdoptionCtrl">
      <div class="col-sm-6" ng-show="animalsNotAdopted.length">
        <h3>Lonely Animals</h3>
        <ul>
          <li ng-repeat="item in animalsNotAdopted = (animals | filter:{adoptionStatus: false})">
            {{item.name}} the {{item.type}} <button ng-click="adoptAnimal(item)" class="btn btn-warning btn-xs">Adopt</button>
          </li>
        </ul>
      </div>
      <div class="col-sm-6" ng-show="animalsAdopted.length">
        <h3>Happy Animals</h3>
        <ul>
          <li ng-repeat="item in animalsAdopted = (animals | filter:{adoptionStatus: true})">
            {{item.name}} the {{item.type}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
